.container
{
    height: 300px;
    width: 500px;
    border: 9px solid palevioletred;
    margin: auto;
    margin-top: 200px;
    background-color: gainsboro;
}
body{
    background-image: url(number.jpg); 
    background-repeat: no-repeat;
background-size: cover;
}
#result
{
    height: 50px;
    width: fit-content;
  margin: auto;
}